*{
    margin: 0;
    padding: 0;
}

.cabeçalho{
    background-color:#030515;
    color: hsl(255, 78%, 25%);
    justify-content:space-around;
    padding: 24px 0;
}
 
.cabeçalho-imagem{
    width: 10%;
}

.cabeçalho-item{
    display:inline-block;
    margin: 0 16px;
    font-size: 30px;
}